/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

:root {
  --primary-color: #90ccf8;
  --primary-color-light: #c4e5fc;
  --secondary-color: #906cf3;
  --text-color: #fff;
  --background-color: #000;
  --dark-grey: #767676;

  /* Font size variables */
  --small: 16px;
  --medium: 20px;
  --big: 28px;
  --large: 42px;
  --line-height: 1.5;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100%;
  margin: 0;
}

header {
  margin: 0 auto;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  margin-bottom: 16px;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  font-size: var(--large);
}

#mylogo {
  height: 80px;
  margin-top: 10px;
}

h1 {
  font-size: var(--large);
  line-height: var(--line-height);
}

h2 {
  font-size: var(--big);
}

h3 {
  font-size: var(--medium);
}

p {
  font-size: var(--small);
  line-height: var(--line-height);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color);
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:active {
  color: var(--text-color);
}

main {
  margin: 20px;
}

input {
  border: none;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--text-color);
}

span {
  color: var(--primary-color-light);
}

button {
  border: none;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 5px;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

footer {
  width: 100%;
  text-align: center;
}

footer > p {
  margin-bottom: 0;
}

/* index.html */

.index {
  margin-bottom: 100px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 50%;
  margin-right: 40px;
  border-radius: 50%;
}

/* skills.html */

.skills {
  text-align: center;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skills > h2 {
  margin: 5px;
  text-decoration: underline;
}

.skills > p {
  font-size: var(--large);
  margin: 36px;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  margin: 20px;
  width: 10%;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.logosvg {
  height: 200px;
  margin-top: 30px;
}

@-webkit-keyframes color-change {
  from {
    fill: var(--primary-color);
  }

  to {
    fill: var(--secondary-color);
  }
}

@keyframes color-change {
  from {
    fill: var(--primary-color);
  }

  to {
    fill: var(--secondary-color);
  }
}

.fire {
  -webkit-animation: 1s color-change infinite alternate linear;
  animation: 1s color-change infinite alternate linear;
}

@-webkit-keyframes x-move {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(0, 80px);
    transform: translate(0, 80px);
  }
}

@keyframes x-move {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(0, 80px);
    transform: translate(0, 80px);
  }
}

.st4 {
  -webkit-animation: 2.2s x-move infinite alternate linear;
  animation: 2.2s x-move infinite alternate linear;
}

/* contact.html */

.contact {
  max-width: 800px;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
}

.contact__method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__method > h1 {
  margin-top: 16px;
}

.contact__method--form {
  padding: 10px;
}

.contact-label {
  display: block;
  padding: 0;
  margin: 0;
  margin: 5px;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
}

.submit-button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  margin: 10px;
  width: 30%;
}

.page-footer-contact {
  position: fixed;
  bottom: 0;
}

/* work.html */

.work-section {
  /* margin: -30px auto 20px auto; */
  margin: auto;
  /* width: 80%; */
  text-align: center;
}

.meetappimg {
  height: 150px;
}

.pokemonimg {
  height: 200px;
}

.chatappimg {
  width: 200px;
}

.grid {
  margin: auto;
}

.grid__item {
  display: inline;
  width: 33%;
  background-color: var(--dark-grey);
  padding: 10px;
}

a > h2 {
  color: var(--text-color);
}

.links a,
.links p {
  font-size: var(--medium);
  display: inline;
  margin-right: 5px;
  color: var(--primary-color);
}

/* project pages */

.contact__method > h2 {
  text-decoration: underline;
}

.contact__method > p {
  font-size: var(--medium);
}

.projectimg {
  height: 400px;
}

.project-links a,
.project-links p {
  display: inline;
  margin-right: 5px;
  font-size: var(--medium);
}

.chatimg {
  margin: 10px;
  height: 400px;
}

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 2fr 20px 2fr;
    grid-template-rows: 2fr 2fr;
    grid-gap: 20px;
  }
  .grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .grid > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }

  .grid__item {
    width: auto;
    min-height: auto;
    margin: 0;
  }

  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

.grid__item a {
  color: var(--primary-color);
}

.page-footer {
  clear: both;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.social-media img {
  height: 50px;
}

@media all and (max-width: 496px) {
  .page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 50px;
    flex: 0 50px;
  }

  p {
    font-size: var(--medium);
    line-height: 1.2;
  }

  .index {
    margin-bottom: 20px;
  }

  .navigation-list {
    text-align: center;
    float: none;
  }

  #mylogo {
    height: 50px;
    margin-top: 100px;
    margin-left: 30px;
  }

  .navigation-list li {
    font-size: var(--large);
  }

  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .profile__portrait {
    display: block;
    float: none;
    border-radius: 50%;
    margin: auto;
  }

  .button {
    width: 30%;
  }

  .work-section {
    width: 85%;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid__item {
    max-width: 280px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .pokemonimg {
    max-width: 260px;
    max-height: 160px;
  }

  .projectimg {
    max-height: 160px;
  }

  .projectdescription {
    max-width: 300px;
  }

  form {
    width: 300px;
  }

  .contact__method {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .contact__method--form {
    width: 100%;
    padding: 10px;
    margin: auto;
  }

  .page-footer > p {
    font-size: var(--small);
  }
}

@media all and (min-width: 496px) and (max-width: 768px) {
  p {
    font-size: var(--medium);
  }

  .navigation-list {
    padding: 0;
  }

  .navigation-list li {
    margin-left: 10px;
    font-size: var(--large);
  }

  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .profile__portrait {
    display: block;
    float: none;
    border-radius: 50%;
    margin: auto;
  }

  .button {
    width: 20%;
  }

  .contact__method {
    margin: auto;
    width: 300px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 90%;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100px;
    flex: 0 1 100px;
    margin-left: 40px;
  }

  .contact {
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
  }

  .contact__method {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
  }

  .navigation-list {
    width: 90%;
    font-size: var(--large);
  }

  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    max-width: 600px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .pokemonimg {
    max-width: 280px;
    max-height: 160px;
  }
}

@media screen and (min-width: 992px) {
  /* body {
    margin-left: 20px;
  } */

  .page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100px;
    flex: 0 1 100px;
    margin-left: 60px;
  }

  .navigation-list {
    width: 90%;
    font-size: 36px;
  }
}
